.main {
  min-width: 100vh;
  display: flex;
  aside {
    z-index: 999;
    width: 240px;
    background-color: #2d2d2d;
    .empty-aside {
      width: 240px;
      height: 100vh;
    }
    .aside-container {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      background-color: #2d2d2d;
      gap: 8px;
      box-sizing: border-box;
      .btn-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        width: 240px;
        height: 50px;
        padding: 0 20px;
        background-color: #2d2d2d;
        color: #c1dffa;
        box-sizing: border-box;
        cursor: pointer;
        user-select: none;
      }
      .btn-container:hover {
        background-color: #3a3a3a;
      }
      .btn-container:active {
        background-color: #202020;
      }
      .menu-item {
        height: 40px;
        width: 240px;
        box-sizing: border-box;
        a {
          display: flex;
          padding: 0 20px;
          align-items: center;
          height: 40px;
          line-height: 40px;
          text-decoration: none;
          color: #fff;
        }
        a:hover {
          background-color: #3a3a3a;
        }
        a.active {
          background-color: #202020;
        }
        .menu-font {
          margin-left: 8px;
        }
      }
    }
  }
  section {
    background-color: #f2f2f2;
    flex: auto;
    padding-top: 12px;
  }
}
