input.title {
  box-sizing: border-box;
  margin: 12px 36px 0;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #232323;
  width: 712px;
}
div.title {
  box-sizing: border-box;
  margin: 24px 36px 0;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #232323;
  width: 712px;
}
.cardContainer {
  margin: 24px 36px;
  background: #fff;
  height: 72vh;
  border-radius: 12px;
  padding: 12px;
  overflow-y: auto;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}